/* 全局样式文件 */

// 主题颜色
@theme-color: #42b983;

@primary-color: #5f69b2;
@primary-color-1: #f4f6fa;
@info-color: #6d84d1;
@success-color: #4bb08d;
@processing-color: @primary-color;
@warning-color: #ec972b;
@error-color: #be4141;
